body {
	background-color:#ecf0f1;
}

.steve {
	padding-top:50px;
}

.steve h1 {
	background-color:gray;
	color:white;
	padding:50px 20px 50px 20px;
	border-radius:8px;
}

.result {
	margin-top:30px;
	margin-bottom:20px;
	background-color:gray;
	padding: 25px 15px 25px 15px;
	color:white;
	border-radius:8px;
}

.result p {
	background-color:#27ae60;
	padding:10px;
}

.result1 {
	margin-top:30px;
	margin-bottom:20px;
	background-color:gray;
	padding: 25px 15px 25px 15px;
	color:white;
	border-radius:8px;
}

.result1 p {
	background-color:#27ae60;
	padding:10px;
}

.question {
	padding-bottom:3px;
}

.answer h1 {
	font-size:24px;
}

.box {
	background-color:white;
	color:black;
	padding: 15px 5px 15px 20px;
}

.box h2 {
	font-size:20px;
	font-weight:400;
	line-height:25px;
}

#speech-page-content {
    width: 100%;
    height: 100%;
}

#speech-page-content:focus {
    outline: none;
}

.speech-content-mic {
}

.speech-mic {
    background: url("../img/cat.png") no-repeat center;
    width:100%;
    height:180px;
}

.speech-mic-works {
    background: url("../img/lazy.png") no-repeat center;
    width:100%;
    height:180px;
}

#authority {
    padding-top: 10px;
}

#speech-page-content::-webkit-scrollbar {
    width: 6px;
}

#speech-page-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#speech-page-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.inner {
	background-color:#27ae60;
	padding:10px;
	margin-top:10px;
	color:white;
	min-height:20px;
	border-radius:8px;
}
